
{{#each friends}}
  <div class="row justify-content-center py-3">
    <div class="col-12 col-sm-8 col-md-6 friendsList mt-4">
      <h3>
        {{this.name}}
      </h3>
      <img src="{{{this.photo}}}"></img>
      <div class="accordion" id="friendsAccordian">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{this.slug}}{{@index}}"
                aria-expanded="false" aria-controls="collapseOne">
                Survey Responses:
              </button>
            </h2>
          </div>
          <div id="{{this.slug}}{{@index}}" class="collapsed collapse" aria-labelledby="headingOne"
            data-parent="#friendsAccordian">
            <div class="card-body">
              {{#each ../question}}
              <p>#{{this.num}}: {{this.name}} <i>ans: {{lookup ../this.ansArr @index}}</i></p> <!-- this line of code took me forever to figure out.  The double "this" took forever to dawn on me that it would work-->
              {{/each}}
            </div><!-- end car body-->
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

