

<ul>
  {{#each friends}}
  <li>
    <p>
      {{this.name}}
      {{!-- <button data-planid="" class="delplan">Delete This Person!</button> --}}
    </p>
    <img src="{{{this.photo}}}"></img>

    
    <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{this.slug}}{{@index}}" aria-expanded="false" aria-controls="collapseOne">
            Survey Responses:
          </button>
        </h2>
      </div>
      <div id="{{this.slug}}{{@index}}" class="collapsed collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          {{#each ../question}}
            <p>#{{this.num}}: {{this.name}} <i>ans: {{lookup ../this.ansArr @index}}</i></p>
          {{/each}}
        </div><!-- end car body-->
      </div>
    </div>
  </div>
  </li>
  <br><br>
  {{/each}}
</ul>

